.dashboard-container {
  width: 100%;
  padding: $container-padding;
  background: $bg-medium-blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $font-cloud;
}