.dashboard-container {
  width: 100%;
  padding: $container-padding;
  background: $bg-medium-blue;
  color: $font-cloud;

  .text-container {
    margin-left: 50px;
  }
  
  .title {
    font-size: 38px;
    padding-bottom: 20px;
  }

  .welcome-message {
    padding-bottom: 10px;
  }
  
  .description {
    font-size: 19px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  .create-profile {
    @include button($primay-green, $secondary-green);
  }
}