@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 300; }

html,
body,
#root {
  width: 100%;
  height: 100%; }

.component-container {
  padding: 20px; }

.footer-container {
  width: 100%;
  background: #12131e; }
  .footer-container .copyright {
    color: #e1e5e8;
    font-size: 12px; }

.landing-container {
  height: 80%;
  background: #272d39;
  color: #e1e5e8;
  display: flex;
  justify-content: center; }
  .landing-container .text-container {
    max-width: 500px;
    text-align: center;
    margin-top: 80px; }
  .landing-container .title {
    font-size: 38px;
    padding-bottom: 30px; }
  .landing-container .description {
    font-size: 19px; }

.header-container {
  width: 100%;
  background: #12131e;
  display: flex;
  justify-content: flex-end; }
  .header-container .nav-link {
    color: #e1e5e8;
    font-size: 16px;
    padding: 6px 0;
    border-bottom: 1px solid transparent;
    transition: .2s border; }
    .header-container .nav-link:hover {
      border-color: #e1e5e8; }
    .header-container .nav-link.nav-link-register {
      margin-left: 15px; }
  .header-container .profile-image {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 5px 10px 6px 0; }

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #a6b0b9;
  color: #e1e5e8;
  font-size: 16px;
  padding: 10px;
  outline: none; }
  .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #272d39 inset; }
  .input:-webkit-autofill {
    -webkit-text-fill-color: #e1e5e8 !important; }
  .input::placeholder {
    color: #a6b0b9;
    opacity: 1; }
  .input:-ms-input-placeholder {
    color: #a6b0b9; }
  .input::-ms-input-placeholder {
    color: #a6b0b9; }
  .input.isInValid {
    border-color: #e74c3c; }

.login-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #272d39;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.header-title {
  color: #e1e5e8;
  padding-bottom: 120px;
  font-size: 38px; }

.login-form {
  max-width: 600px;
  width: 80%; }
  .login-form .input-container {
    margin-bottom: 30px; }
    .login-form .input-container .error-msg {
      color: #e74c3c;
      font-size: 13px;
      margin-top: 10px; }
  .login-form .button-login-register {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    background-color: #6ED9A0;
    border: none;
    color: #e1e5e8;
    font-size: 16px;
    cursor: pointer; }
    .login-form .button-login-register:hover, .login-form .button-login-register:active, .login-form .button-login-register:focus {
      background-color: #5FB68C; }
  .login-form .forgot-password {
    text-align: center;
    color: #e1e5e8;
    cursor: pointer; }

.register-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #272d39;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.header-title {
  color: #e1e5e8;
  padding-bottom: 40px;
  font-size: 38px; }

.register-form {
  max-width: 600px;
  width: 80%; }
  .register-form .input-container {
    margin-bottom: 30px; }
    .register-form .input-container .error-msg {
      color: #e74c3c;
      font-size: 13px;
      margin-top: 10px; }
  .register-form .button-login-register {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    background-color: #6ED9A0;
    border: none;
    color: #e1e5e8;
    font-size: 16px;
    cursor: pointer; }
    .register-form .button-login-register:hover, .register-form .button-login-register:active, .register-form .button-login-register:focus {
      background-color: #5FB68C; }
  .register-form .forgot-password {
    text-align: center;
    color: #e1e5e8;
    cursor: pointer; }
