@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 300; }

html,
body,
#root {
  width: 100%;
  height: 100%; }

.component-container {
  width: 100%;
  padding: 20px;
  background: #272d39;
  color: #e1e5e8; }

.footer-container {
  width: 100%;
  background: #12131e; }
  .footer-container .copyright {
    color: #e1e5e8;
    font-size: 12px; }

.landing-container {
  height: 80%;
  background: #272d39;
  color: #e1e5e8;
  display: flex;
  justify-content: center; }
  .landing-container .text-container {
    max-width: 500px;
    text-align: center;
    margin-top: 80px; }
  .landing-container .title {
    font-size: 38px;
    padding-bottom: 30px; }
  .landing-container .description {
    font-size: 19px; }

.header-container {
  width: 100%;
  background: #12131e;
  display: flex;
  justify-content: flex-end; }
  .header-container .nav-link {
    color: #e1e5e8;
    font-size: 16px;
    padding: 6px 0;
    border-bottom: 1px solid transparent;
    transition: .2s border; }
    .header-container .nav-link:hover {
      border-color: #e1e5e8; }
    .header-container .nav-link.nav-link-register {
      margin-left: 15px; }
  .header-container .profile-image {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 5px 10px 6px; }

.login-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #272d39;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .login-container .header-title {
    color: #e1e5e8;
    padding-bottom: 40px;
    font-size: 38px; }
  .login-container .login-form {
    max-width: 600px;
    width: 80%; }
    .login-container .login-form .submit-button {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 3px;
      background-color: #6ED9A0;
      border: none;
      color: #e1e5e8;
      font-size: 16px;
      cursor: pointer; }
      .login-container .login-form .submit-button:hover, .login-container .login-form .submit-button:active, .login-container .login-form .submit-button:focus {
        background-color: #5FB68C; }
    .login-container .login-form .forgot-password {
      text-align: center;
      color: #e1e5e8;
      cursor: pointer; }

.register-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #272d39;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .register-container .header-title {
    color: #e1e5e8;
    padding-bottom: 40px;
    font-size: 38px; }
  .register-container .register-form {
    max-width: 600px;
    width: 80%; }
    .register-container .register-form .input-container {
      margin-bottom: 30px; }
      .register-container .register-form .input-container .error-msg {
        color: #e74c3c;
        font-size: 13px;
        margin-top: 10px; }
    .register-container .register-form .submit-button {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 3px;
      background-color: #6ED9A0;
      border: none;
      color: #e1e5e8;
      font-size: 16px;
      cursor: pointer; }
      .register-container .register-form .submit-button:hover, .register-container .register-form .submit-button:active, .register-container .register-form .submit-button:focus {
        background-color: #5FB68C; }
    .register-container .register-form .forgot-password {
      text-align: center;
      color: #e1e5e8;
      cursor: pointer; }

.input-container {
  margin-bottom: 30px; }
  .input-container .input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #a6b0b9;
    color: #e1e5e8;
    font-size: 16px;
    padding: 10px;
    outline: none; }
    .input-container .input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #272d39 inset; }
    .input-container .input:-webkit-autofill {
      -webkit-text-fill-color: #e1e5e8 !important; }
    .input-container .input::placeholder {
      color: #a6b0b9;
      opacity: 1; }
    .input-container .input:-ms-input-placeholder {
      color: #a6b0b9; }
    .input-container .input::-ms-input-placeholder {
      color: #a6b0b9; }
    .input-container .input.isInValid {
      border-color: #e74c3c; }
  .input-container .error-msg {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 10px; }

.textarea-container {
  margin-bottom: 30px; }
  .textarea-container .textarea {
    width: 100%;
    background-color: transparent;
    border: 2px solid #a6b0b9;
    color: #e1e5e8;
    font-size: 16px;
    padding: 10px;
    outline: none; }
    .textarea-container .textarea:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #272d39 inset; }
    .textarea-container .textarea:-webkit-autofill {
      -webkit-text-fill-color: #e1e5e8 !important; }
    .textarea-container .textarea::placeholder {
      color: #a6b0b9;
      opacity: 1; }
    .textarea-container .textarea:-ms-textarea-placeholder {
      color: #a6b0b9; }
    .textarea-container .textarea::-ms-textarea-placeholder {
      color: #a6b0b9; }
    .textarea-container .textarea.isInValid {
      border-color: #e74c3c; }
  .textarea-container .error-msg {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 10px; }

.select-container {
  margin-bottom: 30px; }
  .select-container .select {
    width: 100%;
    background-color: transparent;
    border: 2px solid #a6b0b9;
    color: #e1e5e8;
    font-size: 16px;
    height: 40px;
    outline: none; }
    .select-container .select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #272d39 inset; }
    .select-container .select:-webkit-autofill {
      -webkit-text-fill-color: #e1e5e8 !important; }
    .select-container .select::placeholder {
      color: #a6b0b9;
      opacity: 1; }
    .select-container .select:-ms-select-placeholder {
      color: #a6b0b9; }
    .select-container .select::-ms-select-placeholder {
      color: #a6b0b9; }
    .select-container .select.isInValid {
      border-color: #e74c3c; }
  .select-container .error-msg {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 10px; }

.spinner-container .spinner-gif {
  width: 50px;
  margin: auto;
  display: block; }

.dashboard-container .user-name {
  color: #e1e5e8;
  font-style: italic; }

.dashboard-container .text-container {
  margin-left: 50px; }

.dashboard-container .title {
  font-size: 38px;
  padding-bottom: 20px; }

.dashboard-container .welcome-message {
  padding-bottom: 10px; }

.dashboard-container .description {
  font-size: 19px;
  padding-bottom: 15px;
  margin-bottom: 30px; }

.dashboard-container .create-profile {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #6ED9A0;
  border: none;
  color: #e1e5e8;
  font-size: 16px;
  cursor: pointer; }
  .dashboard-container .create-profile:hover, .dashboard-container .create-profile:active, .dashboard-container .create-profile:focus {
    background-color: #5FB68C; }

.dashboard-container .delete-account {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #e74c3c;
  border: none;
  color: #e1e5e8;
  font-size: 16px;
  cursor: pointer;
  width: auto;
  margin-top: 40px; }
  .dashboard-container .delete-account:hover, .dashboard-container .delete-account:active, .dashboard-container .delete-account:focus {
    background-color: #e74c3c; }
  .dashboard-container .delete-account:hover {
    opacity: .8; }

.profileActions-container {
  padding-top: 20px; }
  .profileActions-container .profileAction-button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    background-color: #f0f2f4;
    border: none;
    color: #e1e5e8;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    color: #5B666B;
    margin-right: 15px; }
    .profileActions-container .profileAction-button:hover, .profileActions-container .profileAction-button:active, .profileActions-container .profileAction-button:focus {
      background-color: #ccc; }

.create-profile-container {
  width: 100%;
  height: 100%;
  background: #272d39;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e1e5e8; }
  .create-profile-container .header-title {
    color: #e1e5e8;
    padding-bottom: 20px;
    font-size: 38px; }
  .create-profile-container .kicker {
    padding-bottom: 40px; }
  .create-profile-container .create-profile-form {
    max-width: 600px;
    width: 80%; }
    .create-profile-container .create-profile-form .error-msg {
      color: #e74c3c;
      font-size: 13px;
      margin-top: 10px; }
    .create-profile-container .create-profile-form .input-description {
      font-size: 12px;
      padding-bottom: 20px; }
    .create-profile-container .create-profile-form .submit-button {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 3px;
      background-color: #6ED9A0;
      border: none;
      color: #e1e5e8;
      font-size: 16px;
      cursor: pointer; }
      .create-profile-container .create-profile-form .submit-button:hover, .create-profile-container .create-profile-form .submit-button:active, .create-profile-container .create-profile-form .submit-button:focus {
        background-color: #5FB68C; }
    .create-profile-container .create-profile-form .required {
      padding-bottom: 20px; }

.edit-profile-container {
  height: 100%;
  background: #272d39;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .edit-profile-container .header-title {
    color: #e1e5e8;
    padding-bottom: 20px;
    font-size: 38px; }
  .edit-profile-container .create-profile-form {
    max-width: 600px;
    width: 80%; }
    .edit-profile-container .create-profile-form .error-msg {
      color: #e74c3c;
      font-size: 13px;
      margin-top: 10px; }
    .edit-profile-container .create-profile-form .input-description {
      font-size: 12px;
      padding-bottom: 20px; }
    .edit-profile-container .create-profile-form .submit-button {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 3px;
      background-color: #6ED9A0;
      border: none;
      color: #e1e5e8;
      font-size: 16px;
      cursor: pointer; }
      .edit-profile-container .create-profile-form .submit-button:hover, .edit-profile-container .create-profile-form .submit-button:active, .edit-profile-container .create-profile-form .submit-button:focus {
        background-color: #5FB68C; }
    .edit-profile-container .create-profile-form .required {
      padding-bottom: 20px; }
