.dashboard-container {
  .user-name {
    color: $font-cloud;
    font-style: italic;
  }

  .text-container {
    margin-left: 50px;
  }
  
  .title {
    font-size: 38px;
    padding-bottom: 20px;
  }

  .welcome-message {
    padding-bottom: 10px;
  }
  
  .description {
    font-size: 19px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  .create-profile {
    @include button(auto, $primay-green, $secondary-green);
  }

  .delete-account {
    margin-top: 30px;
  }
}