.header-container {
  width: 100%;
  background: $bg-dark-blue;
  display: flex;
  justify-content: flex-end;

  .nav-link {
    color: $font-cloud;
    font-size: 16px;
    padding: 6px 0;
    border-bottom: 1px solid transparent;
    transition: .2s border;

    &:hover {
      border-color: $font-cloud;
    }

    &.nav-link-developers {
      margin-right: auto;
    }

    &.nav-link-register {
      margin-left: 15px;
    }
  }

  .profile-image {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 5px 10px 6px;
  }
}
