.landing-container {
  min-height: calc(100% - 135px);
  background: $bg-medium-blue;
  color: $font-cloud;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-container {
    max-width: 500px;
    text-align: center;
  }

  .title {
    font-size: 38px;
    padding-bottom: 30px;
  }

  .description {
    font-size: 19px;
  }
}