// Mixins
@mixin button($width, $color-primary, $color-secondary) {
  width: $width;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: $color-primary;
  border: none;
  color: $font-cloud;
  font-size: 16px;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-secondary;
  }
}

@mixin chrome-autofill-styles($bg-color, $font-color) {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $bg-color inset;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $font-color !important;
  }
}