.input {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $font-gray;
  color: $cloud;
  font-size: 16px;
  padding: 10px;
  outline: none;
}
