.navbar-container {
  width: 100%;
  padding: $container-padding;
  background: $bg-gray;
  border-bottom: 2px solid $font-gray;
  display: flex;
  justify-content: flex-end;

  .nav-link {
    color: $cloud;
    font-size: 19px;
    padding: 8px 0;
    border-bottom: 1px solid transparent;
    transition: .2s border;

    &:hover {
      border-color: $cloud;
    }

  }

  .nav-link-register {
    margin-left: 15px;
  }
}